.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px 15px;
  background-color: $light-gray;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
}
.btn-primary {
  background-color: $yellow;
  color: $black;
  transition: .3s background-color;
}
.btn-primary:hover {
  background-color: $black;
  color: $yellow;
  transition: .3s background-color;
}
.btn-inverse {
  background-color: transparent;
  color: $white;
  border: 2px solid $white;
  transition: .3s all;
}
.btn-inverse:hover {
  border-color: $yellow;
  transition: .3s all;
}
