.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.container-narrow {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-container-reverse{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
}
@media(min-width: 60em) {
  .flex-container{
    flex-direction: row;
  }
  .flex-container-reverse{
  	flex-direction: row;
  }
  .col-90 {
    float: left;
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-80 {
    float: left;
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-70 {
    float: left;
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-50 {
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-30 {
    float: left;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-25 {
    float: left;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-20 {
    float: left;
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-10 {
    float: left;
    width: 10%;
    padding-left: 15px;
    padding-right: 15px;
  }

}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
