.jumbotron {
  margin-bottom: 2rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-size: cover;
  background-position: center;
  background-color: $gray;
}
.jumbotron-title {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 900;
  color: $white;
}
@media(min-width: 60em) {
  .jumbotron {
    padding-top: 7rem;
  }
  .jumbotron-title {
    font-size: 6rem;
  }
}
