.section-inverse {
  background-color: $gray;
  color: $white;
}
.section-inverse a {
  color: $yellow;
  border-bottom: 0;
}
.section-inverse a:hover {
  color: $white;
}

.white {
  color: $white;
}
::selection{
  background: rgba(247,211,27,.6);
}
::-moz-selection{
  background: rgba(247,211,27,.6);
}
