.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }
.cover {
  background-size: cover;
  background-position: center;
}
.mt0 {
  margin-top: 0;
}
.mv {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media(min-width: 30em) {
  .alignright {
    float: right;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .alignleft {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}
