.cover {
  background-size: cover;
  background-position: center;
}
.mv {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media(min-width: 30em) {
  .alignright {
    float: right;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .alignleft {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}
