.product-category {
  background-color: $light-gray;
  text-align: center;
}
.products .product {
  text-align: center;
}
.products .product a {
  color: $black;
}
.product a:hover .star-rating {
  color: $yellow;
  transition: .3s color;
}
.product .count {
  background-color: transparent;
}
.woocommerce .products .star-rating {
  margin-top: .5em;
  margin-right: auto;
  margin-left: auto;
  color: $black;
  transition: .3s color;
}
.woocommerce .woocommerce-breadcrumb {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.woocommerce .woocommerce-breadcrumb a {
  border-bottom: 0;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title {
  color: $black;
  margin-bottom: 1em;
}
.woocommerce a.button {
  background-color: $yellow;
  color: $white;
  text-transform: uppercase;
  font-size: .8rem;
  transition: .3s background-color;
}
.woocommerce a.button:hover {
  background-color: $black;
  color: $white;
  transition: .3s background-color;
}
.woocommerce div.product div.summary {
  float: none;
  width: 100%;
}
.woocommerce div.product div.images {
  display: none;
}
.wc-tabs a {
  border-bottom: 0;
}
